@import '../../../../../shared/styles/omitir-button.scss';

.cuotas-header {
    background-color: #FB923C;
    font-weight: bold;
}

.cuotas-cell {
    padding: 4px 8px;
    font-size: 0.875rem;
    line-height: 1.2;
}

th {
    text-align: center;
}

.placeholder-text {
    color: #888;
    font-style: italic;
}
