<p-toast />
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>
<p-table
    #dt
    [value]="tiempos()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['id', 'descripcion', 'valor']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedTiempos"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} de tiempos"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Administrar Tiempos</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            @for (c of cols.slice(1, cols.length); track $index) {
                <th pSortableColumn="{{c.field}}" style="min-width:'{{c.mw}}'rem">
                    {{c.header}}
                    <p-sortIcon field="{{c.field}}" />
                </th>
            }
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-tiempo>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="tiempo" />
            </td>
            <td style="min-width: 8rem">{{tiempo.id}}</td>
            <td style="min-width: 8rem">{{tiempo.descripcion}}</td>
            <td style="min-width: 8rem">{{tiempo.valor}}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editTiempo(tiempo)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteTiempo(tiempo)" />
            </td>
        </tr>
    </ng-template>
</p-table>
<app-tiempo-create [display]="tiempoDialog" [title]="title" [tiempo]="tiempo" [editabled]="editabled" (switchMessage)="switchMessageHandler($event)" (closedDialog)="hideDialog($event)"/>

<p-confirmdialog [style]="{ width: '450px' }" />